<template>
    <div id="app">
        <div class="memory-bar">
            <button class="memory-bar__btn" @click="endGame" v-if="startList">{{'Завершить'.toUpperCase()}}</button>
        </div>
        <section class="memory">
            <template v-if="start">
                <div class="memory-card" @click="changeCard(item)" v-for="(item,id) in setListCard" :key="id"
                     :class="item.flipped?'flip':''"
                     :style="`order:${item.position}`">
                    <div :class="item.disable? 'disable-fon':''"></div>
                    <img :src="require(`./img/${item.img}.svg`)" class="memory-card__front"/>
                    <img :src="require('./img/frameBack.svg')" class="memory-card__back"/>
                </div>
            </template>
            <template v-else>
                <button class="memory-btn" @click="startGame">{{'Начать игру'.toUpperCase()}}</button>
            </template>
        </section>
        <div class="notification" v-if="addNotification">
            <div class="notification-msg">
                <h2>{{message}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'App',
        components: {},
        data() {
            return {
                message: '',
                startList: false,
                listCard: [],
                start: false,
                addNotification: false,
            }
        },
        watch: {
            listCard: {
                deep: true,
                handler(val) {
                    localStorage.setItem('list-card', JSON.stringify(val));
                    if (val && !val.find(i => !i.disable)) {
                        this.message = 'Вы выиграли!';
                        this.addNotification = true;
                    }
                }
            },
            addNotification(val) {
                if (val) {
                    setTimeout(() => {
                        this.addNotification = false;
                    }, 2000);
                }
            }
        },
        mounted() {
            if (localStorage.start && localStorage['list-card']) {
                this.listCard = JSON.parse(localStorage['list-card']);
                this.start = localStorage.start;
                this.startList = true;
            }
        },
        methods: {
            endGame() {
                this.start = false;
                this.startList = false;
                localStorage.removeItem('list-card');
                localStorage.removeItem('start');
            },
            startGame() {
                let promise = new Promise(function (resolve, reject) {
                    let j = 1;
                    let listCard = [];
                    for (let i = 1; i <= 15; i++) {
                        listCard.push({
                                flipped: true,
                                position: Math.floor(Math.random() * 30),
                                img: `frame${i}`,
                                id: `${+i + j}`,
                                disable: false
                            },
                            {
                                flipped: true,
                                position: Math.floor(Math.random() * 30),
                                img: `frame${i}`,
                                id: `${+i + 1 + j}`,
                                disable: false
                            });
                        j++;
                    }
                    localStorage.setItem('list-card', JSON.stringify(listCard.map(i => ({...i, flipped: false}))));
                    resolve(listCard);
                    reject(new Error("error"));
                });
                promise.then((json) => {
                    this.listCard = json;
                    return this.listCard;
                });
                promise.then(json => {
                    if (json && json.length) {
                        this.start = true;
                        localStorage.setItem('start', this.start);
                        setTimeout(() => {
                            this.listCard = json.map(i => ({...i, flipped: false}));
                            this.startList = true;
                        }, 6000);
                    }

                });
            },
            changeCard(item) {
                if (this.start && this.startList) {
                    if (!item.disable) {
                        let el = this.listCard && this.listCard.length ? this.listCard.find(i => i.id == item.id) : undefined;
                        let check = this.listCard && this.listCard.length && ((this.listCard.filter(i => i.flipped && !i.disable) && this.listCard.filter(i => i.flipped && !i.disable).length < 2) || this.listCard.filter(i => i.flipped && !i.disable).length == 0) ? true : false;
                        let pair = this.listCard && this.listCard.length && this.listCard.find(i => i.img == el.img && i.flipped && i.id != item.id);
                        if (el && !el.disable) {
                            if (check || (!check && el.flipped)) {
                                el.flipped = !el.flipped;
                                if (pair) {
                                    el.disable = true;
                                    pair.disable = true;
                                } else {
                                    if (this.listCard && this.listCard.length && this.listCard.filter(i => i.flipped && !i.disable) && this.listCard.filter(i => i.flipped && !i.disable).length == 2) {
                                        setTimeout(() => {
                                            this.listCard = this.listCard.map(i => ({
                                                ...i,
                                                flipped: !i.disable && i.flipped ? false : i.flipped
                                            }))
                                        }, 1000);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        computed: {
            setListCard() {
                return this.listCard;
            }
        },
    }
</script>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    body {
        height: 100vh;
        line-height: 1.5;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    .memory {
        width: 640px;
        height: 800px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .memory-card {
        width: calc(20% - 10px);
        height: calc(22% - 10px);
        max-height: 120px;
        min-width: 112px;
        margin: 5px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        box-shadow: 1px 1px 8px #ccc;
    }

    .memory-card:active {
        transform: scale(0.97);
        transition: transform 0.2s;
    }

    .memory-card__front,
    .memory-card__back {
        width: 100%;
        height: 100%;
        padding: 5px;
        position: absolute;
        border-radius: 5px;
        backface-visibility: hidden;

    }

    .disable-fon {
        width: 100%;
        height: 100%;
        padding: 5px;
        z-index: 1;
        position: absolute;
        background: #0000007a;
    }

    .flip {
        transform: rotateY(180deg);
    }

    .memory-card__front {
        transform: rotateY(180deg);
    }

    .memory-btn {
        border-radius: 4px;
        padding: 10px 20px;
        background: #ffa96d;
        border: none;
        box-shadow: 3px 6px 6px #ccc;
        color: #5e5e5e;
        font-weight: 600;
    }

    .memory-bar__btn {
        border-radius: 4px;
        padding: 6px 20px;
        background: #ffa96d;
        border: none;
        color: #5e5e5e;
        font-weight: 600;
    }

    .memory-bar {
        height: 50px;
        box-shadow: 0px 0px 10px #ccc;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0px 10px;
    }

    .notification {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f000;
    }

    .notification-msg {
        background: #ffffffd9;
        padding: 40px 80px;
        border-radius: 4px;
    }

    #app {
        position: relative;
    }

    @media only screen and (max-width: 960px) {
        .memory {
            width: 100%;
        }

        #app {
            padding: 10px;
        }
    }

</style>
